.mf-footer {
	background: #262626;
	padding: 1.5em 0;
	position: relative;
	bottom: 0;
	width: 100%;
}

#mf-footer__copyright {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 5px;
}
