.mf-panel > .mf-container {
	width: 100%;
}

.mf-panel__box {
	margin: 0;
}
/*
.mf-panel__photo--animated {
	-webkit-transition : transform 0.2s ease-out;
	-moz-transition    : transform 0.2s ease-out;
	-o-transition      : transform 0.2s ease-out;
	transition         : transform 0.2s ease-out;
}
*/
#panel-first, #panel-second, #panel-third {
	width: 100%;
}


	.mf-panel__photo {
		text-align : right;
		position   : relative;
		margin     : 0.5em 0;
	}

	.mf-panel__photo figcaption {
	    display: block;
	    height: 100%;
	    text-align: right;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    background: rgba(0, 0, 0, 0.5);
	}
		.mf-panel .mf-photo__text {
		    width: 90%;
		    height: auto;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    padding: 0 2em 2em;
		    font-family: "Dosis", sans-serif;
		    color: #fff;
		    text-transform: uppercase;
		    font-weight: 700;
		}

			.mf-panel__photo-label {
				display   : inline-block;
				font-size : 1.4em;
				margin-bottom: 0.5em;

				background: transparent;
				padding: 0.2em;
				line-height: 1;

				-webkit-border-radius : 2px;
				-moz-border-radius    : 2px;
				border-radius         : 2px;

			}
				.mf-panel__photo-label > .marker {
					background: #ed1c24;
					width                 : 15px;
					height                : 15px;
					margin-right          : 5px;
					-webkit-border-radius : 2px;
					-moz-border-radius    : 2px;
					border-radius         : 2px;
					float: left;
				}
				.promoted .mf-panel__photo-label { background: #ed1c24; }
				.promoted .mf-panel__photo-label > .marker { display: none; }

			.mf-panel__photo-title {
				font-size   : 2.5em;
				line-height : 1.0666666666666666666666666666667em;
				height      : calc(2*1.0666666666666666666666666666667em);
				overflow    : hidden;
			}


@media screen and (min-width: 520px) {

}

@media screen and (min-width: 960px) {
	.mf-panel__photo {
		margin: 0;
	}
	#panel {
		margin-top: 1em;
	}
	#panel-first {
		width: 50%;
	}
	#panel-second, #panel-third {
		width: 25%;
	}
	#panel-third .mf-ads {
		padding: 0;
		margin: 0;
	}

	#panel-second .mf-panel__photo-title,
	#panel-third .mf-panel__photo-title {
		font-size: 1.8em;
	}
}
